* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/* ____________________ Body_________________________ */

body {
    background-color: #d9dcd6;
}
/* Header */
.header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
    
}

.header h1 {
    display: inline-block;
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;
}
/*__________________ Header Navigation-_________________________*/
.header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

.header nav ul {
    list-style-type: none;
   
}

.header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

a  {
    color: #ffffff;
    text-decoration: none;
}

p {
    font-size: 16px;
}

/* ________________Hero Image___________________________ */

.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url("digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
}
/* ________________Image Positions_________________________*/
.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}
/* ____________________Content____________________*/
.content {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
    
}
/* ____________________Aside (condensed 3 tags in to 1)____________________________*/
.benefits {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

.aside {
    margin-bottom: 32px;
    color: #ffffff;
}

/* ________Aside Headings (condensed into 1 tag) ____________ */
.aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* __________________Aside Images (condesned into 1 tag)____________ */


.aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}
/* __________________________Main Article (condensed 3 in to 1)_____________________*/


.article-content {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/*__________Main article Images (condensed 3 in to 1)_______________*/
.article-images img {
    max-height: 200px;
}


/*___________Main article headings (condensed 3 into 1)___________ */
.article-headings h2 {
    margin-bottom: 20px;
    font-size: 36px;  
}

/* __________Footer____________ */
.footer {
    display: none;
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}
